---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
'''
Returns a DataFrame of towns and the states they are in from the 
university_towns.txt list. The format of the DataFrame should be:
DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
columns=["State", "RegionName"]  )
    
The following cleaning needs to be done:

1. For "State", removing characters from "[" to the end.
2. For "RegionName", when applicable, removing every character from " (" to the end.
3. Depending on how you read the data, you may need to remove newline character '\n'. 
'''

df = pd.read_table('https://storage.googleapis.com/um_ds_intro/university_towns.txt', header=None)
df[0] = df[0].str.replace('edit', "")
df[0] = df[0].str.replace('[', "")
df[0] = df[0].str.replace(']', "")
df[0] = df[0].str.replace('[0-9]', "")

# identify the state (in lines that do not contain '()')
df['State'] = df[0]
df['State'][df['State'].str.contains('[(]')] = np.NaN

# Spread the state values
for i in range(0,(len(df))):
    try:
        if np.isnan(df['State'][i]) == True:
            df['State'][i] = df['State'][i-1]
    except: 
        continue
# remove states from '0'
df = df[df[0] != df['State']]
df.set_index('State', inplace = True)
#df.columns = ['College_town']

# College
df['College'] = df[0].str.split('[(]').str[0]
df['College_town'] = df[0].str.split('[(]').str[1]
df['College_town'] = df['College_town'].str.replace('[)]',"")
del df[0]
#df

In [4]:
'''
Returns the year and quarter of the recession start time as a 
string value in a format such as 2005q3
'''

gdp_df = pd.read_excel('gdplev.xls', skiprows=5)

del gdp_df['Unnamed: 0']
del gdp_df['GDP in billions of current dollars'] 
del gdp_df['GDP in billions of chained 2009 dollars']
del gdp_df['Unnamed: 3']
del gdp_df['Unnamed: 7']
gdp_df.columns =["Quarter",
                 "GDP_bill_curnt",
                 "GDP_bill_2009"]
del gdp_df['GDP_bill_curnt']
gdp_df = gdp_df.dropna(how = 'any')

# Keep only from 2000:
gdp_df['year'] =gdp_df['Quarter'].str[0:4].astype('int')
gdp_df = gdp_df[gdp_df['year']>=2000]

# Define recession
"""
1. A recession is defined as starting with two consecutive quarters of GDP 
decline, and ending with two consecutive quarters of GDP growth.
2. A recession bottom is the quarter within a recession which had the lowest GDP.
"""
gdp_df = gdp_df.reset_index()

recession_times = list([])
for j in range(2,len(gdp_df)):
    if gdp_df['GDP_bill_2009'][j-1]<gdp_df['GDP_bill_2009'][j-2]: 
         if gdp_df['GDP_bill_2009'][j]<gdp_df['GDP_bill_2009'][j-1]:
                quarter = gdp_df['Quarter'][j]
                recession_times.append(quarter)
recession_times = pd.DataFrame(recession_times)
recession_times.columns = ['recession']
recession_times['recession_dum'] = 1

gdp_df = pd.merge(gdp_df,
                  recession_times,
                  how = 'left', 
                  left_on = 'Quarter',
                  right_on = 'recession')
del gdp_df['recession']
gdp_df['recession_dum'][np.isnan(gdp_df['recession_dum'])] =0 
# Define recession bottom
# Note: by defenition of recession, the bottom would be the last period (since
# we have only one recession)
gdp_df['recession_bottom1'] = gdp_df.groupby('recession_dum')['GDP_bill_2009'].transform('min')
gdp_df['recession_bottom'] = 0
gdp_df['recession_bottom'][(gdp_df['GDP_bill_2009'] == gdp_df['recession_bottom1']) &
                           (gdp_df['recession_dum'] == 1)] = 1

del gdp_df['recession_bottom1']

In [5]:
'''
Returns the year and quarter of the recession end time as a 
string value in a format such as 2005q3
'''
after_recession = list([])
for j in range(1, len(gdp_df)):
    if (gdp_df['recession_dum'][j-1] == 1) & (gdp_df['recession_dum'][j] == 0):
        after = gdp_df['Quarter'][j]
        after_recession.append(after)
after_recession = pd.DataFrame(after_recession)
after_recession[0][0]

'2009q3'

In [6]:
'''
Converts the housing data to quarters and returns it as mean 
values in a dataframe. This dataframe should be a dataframe with
columns for 2000q1 through 2016q3, and should have a multi-index
in the shape of ["State","RegionName"].
    
Note: Quarters are defined in the assignment description, they are
not arbitrary three month periods.
    
The resulting dataframe should have 67 columns, and 10,730 rows.
'''
def flatten(l): return flatten(l[0]) + (flatten(l[1:]) if len(l) > 1 else []) if type(l) is list else [l]

relevent_months = []
for y in range(2000,2017):
    if y == 2016:
        for m in ['01', '02', '03', '04', '05', '06', '07', '08']:
            month = [str(y),"-",m]
            month = ''.join(month)
            relevent_months.append(month)
    else:
        for m in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']:
            month = [str(y),"-",m]
            month = ''.join(month)
            relevent_months.append(month)
columns = ['RegionID', 'RegionName', 'State', 'Metro', 
           'CountyName', 'SizeRank', relevent_months]
columns=flatten(columns)
columns_thin = ['RegionID', 'RegionName', 'State', 'Metro', 
           'CountyName', 'SizeRank']

housing_df = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = columns)
housing_df_thin = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = columns_thin)

# Transform housing_df into quarterly df

for y in range(2000, 2016): 
    y = str(y)
    matching_year = [s for s in housing_df.columns if y in s]
    df_temp = housing_df[matching_year]
    # Q1
    match1 = [s for s in df_temp.columns if '-01' in s]
    match2 = [s for s in df_temp.columns if '-02' in s]
    match3 = [s for s in df_temp.columns if '-03' in s]
    q1_list = flatten([match1, match2, match3])
    Q1_temp = df_temp[q1_list]
    housing_df_thin['_'.join(['Q1',y,'mean'])] = np.mean(Q1_temp, axis = 1)
    # Q2
    match1 = [s for s in df_temp.columns if '-04' in s]
    match2 = [s for s in df_temp.columns if '-05' in s]
    match3 = [s for s in df_temp.columns if '-06' in s]
    q2_list = flatten([match1, match2, match3])
    Q2_temp = df_temp[q2_list]
    housing_df_thin['_'.join(['Q2',y,'mean'])] = np.mean(Q2_temp, axis = 1)
    
    # Q3
    match1 = [s for s in df_temp.columns if '-07' in s]
    match2 = [s for s in df_temp.columns if '-08' in s]
    match3 = [s for s in df_temp.columns if '-09' in s] #
    q3_list = flatten([match1, match2, match3])
    Q3_temp = df_temp[q3_list]
    housing_df_thin['_'.join(['Q3',y,'mean'])] = np.mean(Q3_temp, axis = 1)

    # Q4
    match1 = [s for s in df_temp.columns if '-10' in s]
    match2 = [s for s in df_temp.columns if '-11' in s]
    match3 = [s for s in df_temp.columns if '-12' in s]
    q4_list = flatten([match1, match2, match3])
    Q4_temp = df_temp[q4_list]
    housing_df_thin['_'.join(['Q4',y,'mean'])] = np.mean(Q4_temp, axis = 1)
      
# 2016
y = 2016
y = str(y)
matching_year = [s for s in housing_df.columns if y in s]
df_temp = housing_df[matching_year]
# Q1
match1 = [s for s in df_temp.columns if '-01' in s]
match2 = [s for s in df_temp.columns if '-02' in s]
match3 = [s for s in df_temp.columns if '-03' in s]
q1_list = flatten([match1, match2, match3])
Q1_temp = df_temp[q1_list]
housing_df_thin['_'.join(['Q1',y,'mean'])] = np.mean(Q1_temp, axis = 1)
# Q2
match1 = [s for s in df_temp.columns if '-04' in s]
match2 = [s for s in df_temp.columns if '-05' in s]
match3 = [s for s in df_temp.columns if '-06' in s]
q2_list = flatten([match1, match2, match3])
Q2_temp = df_temp[q2_list]
housing_df_thin['_'.join(['Q2',y,'mean'])] = np.mean(Q2_temp, axis = 1)
    
# Q3
match1 = [s for s in df_temp.columns if '-07' in s]
match2 = [s for s in df_temp.columns if '-08' in s]
q3_list = flatten([match1, match2])
Q3_temp = df_temp[q3_list]
housing_df_thin['_'.join(['Q3',y,'mean'])] = np.mean(Q3_temp, axis = 1)

        
#del housing_df_thin['Q4_2016_mean']

In [7]:
housing_df_thin.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,Q1_2000_mean,Q2_2000_mean,Q3_2000_mean,Q4_2000_mean,...,Q2_2014_mean,Q3_2014_mean,Q4_2014_mean,Q1_2015_mean,Q2_2015_mean,Q3_2015_mean,Q4_2015_mean,Q1_2016_mean,Q2_2016_mean,Q3_2016_mean
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,587200.0
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,584050.0
2,17426,Chicago,IL,Chicago,Cook,3,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,212000.0
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,128700.0
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,195200.0
5,18959,Las Vegas,NV,Las Vegas,Clark,6,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,199950.0
6,54296,San Diego,CA,San Diego,San Diego,7,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,539750.0
7,38128,Dallas,TX,Dallas-Fort Worth,Dallas,8,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,149300.0
8,33839,San Jose,CA,San Jose,Santa Clara,9,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,822200.0
9,25290,Jacksonville,FL,Jacksonville,Duval,10,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,139900.0
10,20330,San Francisco,CA,San Francisco,San Francisco,11,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,1106400.0
11,10221,Austin,TX,Austin,Travis,12,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,304450.0
12,17762,Detroit,MI,Detroit,Wayne,13,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,37900.0
13,10920,Columbus,OH,Columbus,Franklin,14,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,120100.0
14,32811,Memphis,TN,Memphis,Shelby,15,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,75900.0
15,24043,Charlotte,NC,Charlotte,Mecklenburg,16,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,172400.0
16,17933,El Paso,TX,El Paso,El Paso,17,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,112200.0
17,44269,Boston,MA,Boston,Suffolk,18,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,501700.0
18,16037,Seattle,WA,Seattle,King,19,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,589700.0
19,3523,Baltimore,MD,Baltimore,Baltimore City,20,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,115150.0
20,11093,Denver,CO,Denver,Denver,21,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,351550.0
21,41568,Washington,DC,Washington,District of Columbia,22,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,516250.0
22,6118,Nashville,TN,Nashville,Davidson,23,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,206100.0
23,5976,Milwaukee,WI,Milwaukee,Milwaukee,24,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,98850.0
24,7481,Tucson,AZ,Tucson,Pima,25,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,152700.0
25,13373,Portland,OR,Portland,Multnomah,26,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,387050.0
26,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,27,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,130300.0
27,40152,Omaha,NE,Omaha,Douglas,28,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,143450.0
28,23429,Albuquerque,NM,Albuquerque,Bernalillo,29,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,171900.0
29,18203,Fresno,CA,Fresno,Fresno,30,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,196450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10700,49199,Granite Shoals,TX,NaN,Burnet,10701,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,146450.0
10701,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10702,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,324600.0
10702,50374,Maribel,WI,Manitowoc,Manitowoc,10703,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,134200.0
10703,50539,Middleton,ID,Boise City,Canyon,10704,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,160750.0
10704,50963,Bennett,CO,Denver,Adams,10705,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,212600.0
10705,51793,East Hampstead,NH,Boston,Rockingham,10706,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,282450.0
10706,52166,Garden City,MO,Kansas City,Cass,10707,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,113600.0
10707,53456,Mountainburg,AR,Fort Smith,Crawford,10708,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,103400.0
10708,53730,Oostburg,WI,Sheboygan,Sheboygan,10709,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,136350.0
10709,54771,Twin Peaks,CA,Riverside,San Bernardino,10710,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,173500.0
10710,54802,Upper Brookville,NY,New York,Nassau,10711,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1968800.0
10711,54995,Volcano,HI,Hilo,Hawaii,10712,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,247850.0
10712,55072,Wedgefield,SC,Sumter,Sumter,10713,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,80700.0
10713,55210,Williamston,MI,Lansing,Ingham,10714,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,183000.0
10714,55357,Decatur,AR,Fayetteville,Benton,10715,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,96850.0
10715,55476,Briceville,TN,Knoxville,Anderson,10716,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,40850.0
10716,55706,Edgewood,IN,Indianapolis,Madison,10717,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,100950.0
10717,56183,Palmyra,TN,Clarksville,Montgomery,10718,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,137750.0
10718,56845,Saint Inigoes,MD,California-Lexington Park,Saint Marys,10719,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,281400.0
10719,56943,Marysville,IN,Louisville/Jefferson County,Clark,10720,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,124200.0
10720,57212,Forest Falls,CA,Riverside,San Bernardino,10721,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,186650.0
10721,171874,Bois D Arc,MO,Springfield,Greene,10722,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,144000.0
10722,182023,Henrico,VA,Richmond,Henrico,10723,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,220150.0
10723,188693,Diamond Beach,NJ,Ocean City,Cape May,10724,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,399000.0
10724,227014,Gruetli Laager,TN,NaN,Grundy,10725,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,77500.0
10725,398292,Town of Wrightstown,WI,Green Bay,Brown,10726,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,155000.0
10726,398343,Urbana,NY,Corning,Steuben,10727,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,143000.0
10727,398496,New Denmark,WI,Green Bay,Brown,10728,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,197600.0
10728,398839,Angels,CA,NaN,Calaveras,10729,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,269950.0
10729,399114,Holland,WI,Sheboygan,Sheboygan,10730,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,234950.0

In [ ]:
'''
First creates new data showing the decline or growth of housing prices
between the recession start and the recession bottom. Then runs a ttest
comparing the university town values to the non-university towns values, 
return whether the alternative hypothesis (that the two groups are the same)
is true or not as well as the p-value of the confidence. 

Return the tuple (different, p, better) where different=True if the t-test is
True at a p<0.01 (we reject the null hypothesis), or different=False if 
otherwise (we cannot reject the null hypothesis). The variable p should
be equal to the exact p value returned from scipy.stats.ttest_ind(). The
value for better should be either "university town" or "non-university town"
depending on which has a lower mean price ratio (which is equivilent to a
reduced market loss).
'''

'''
Note: There is a problem with the college_df indecies which is preventing me
        from merging. Therefore I can not constract a merged df and conduct
        the last question in this PS.
'''
# merging college file state names with the two-letters dictionary
states_df = pd.DataFrame([states]).T
states_df.reset_index(inplace = True)
states_df.columns = ['Short Name', 'Long Name']
college_df = pd.merge(df, states_df,
                     left_index = True,
                     right_on = 'Long Name',
                     how = 'left')
college_df.columns = ['College_town', 'College', 'Short Name', 'Long Name']
college_df.set_index(['Short Name', 'College_town'], inplace = True)
print('There are ', df.shape[0]-college_df['Short Name'].count(), 'that did not merge')
college_df.head()

In [22]:
housing_df_thin.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,Q1_2000_mean,Q2_2000_mean,Q3_2000_mean,Q4_2000_mean,...,Q2_2014_mean,Q3_2014_mean,Q4_2014_mean,Q1_2015_mean,Q2_2015_mean,Q3_2015_mean,Q4_2015_mean,Q1_2016_mean,Q2_2016_mean,Q3_2016_mean
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,207066.666667,214466.666667,220966.666667,226166.666667,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
2,17426,Chicago,IL,Chicago,Cook,3,138400.000000,143633.333333,147866.666667,152133.333333,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,53000.000000,53633.333333,54133.333333,54700.000000,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,111833.333333,114366.666667,116000.000000,117400.000000,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [94]:
housing_df_thin[(housing_df_thin['State'] == 'CA') & (housing_df_thin['RegionName'] == 'Orange')]

,RegionID,RegionName,State,Metro,CountyName,SizeRank,Q1_2000_mean,Q2_2000_mean,Q3_2000_mean,Q4_2000_mean,...,Q2_2014_mean,Q3_2014_mean,Q4_2014_mean,Q1_2015_mean,Q2_2015_mean,Q3_2015_mean,Q4_2015_mean,Q1_2016_mean,Q2_2016_mean,Q3_2016_mean
207,33252,Orange,CA,Los Angeles-Long Beach-Anaheim,Orange,208,255133.333333,261766.666667,270533.333333,278100.0,...,556333.333333,563200.0,568733.333333,576933.333333,588400.0,598900.0,604433.333333,612966.666667,621933.333333,630650.0

In [95]:
college_df[(college_df['Short Name'] == 'CA') & (college_df['College_town'] == 'Orange')]

Empty DataFrame
Columns: [College_town, College, Short Name, Long Name]
Index: []